/*css para todo el proyecto proyecto*/
* {
  box-sizing: border-box;
}
.relacionSerie .poster{
  opacity: 1!important;
}
nav {
   padding-left: 1%;
   padding-top: 1%;
   justify-content: space-between;
   position: relative;
 }

  nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    color: black;
    width: 370px;


  }

  nav li a {
    text-decoration: none;
    color: black;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .center {
    position: absolute;
    left: 45%;
  }

  .right {
    position:absolute;
    right: 1%;
  }

  .logo {
    width: 33%;
  }

  .lupa {
    height: 30px;
  }

  .genrebtn {
  border: solid 1px white!important;
}

  .searchbox {
  width: 75%!important;
}

  .banner {
    position: relative;
    margin-bottom: 1%;
  }

   .banner ul {
    height: 10%;
  }

  .frase {
    position: absolute;
    bottom: 4%;
    left: 2%;
    z-index: 10;
    color: white;
    font-family: 'Quicksand', sans-serif;
  }

.tema {
    padding: 1%;
  }

.pelis {
    padding: 1%;
}
.cartelera {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
  width: 96%;
  background-color:red;

}

.img-caja {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
	border: solid 1px green;

}

.img-caja img {
	width: 15%;
  float: left;
  padding: 0.4%;
  no puedo centrar las peliculas

}

.gif-detail {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	width: 960px;
	margin: auto;
}

#peliculas {
  padding: 1%;
  margin-top: 1%;
}

.todo {
  margin: 15px;
}


.flex-generos {

}

.BA {
  background-image: url(../img/collage-1.webp);
  background-repeat: repeat;
  border: solid 1px white;
}

.buscador-avanzado {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 3%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}

.label-BA {
  padding: 3%;
  color: BLACK;
}

.submit-btn-BA {
  background-color: red;
  border-radius: 50%;
  width: 5%;
  padding: 3%;
  margin: 3%;
}

.resultados-buscador-avanzado {
  display: flex;
  flex-wrap: wrap;
}

.Piedepagina{
  display: flex;
  flex-wrap: wrap;
  /* border-top: 1px solid gainsboro;
  text-align: center; */
  height: 150px;
  background-color: white;
  position: relative;
  border-top: dashed 1px black;
}

.grupo {
  position: absolute;
  top: 50%;
  left: 1%;
  list-style: none;
  font-size: 100%;
}

.imagen-tmbd {
  width: 10%;
  position: absolute;
  bottom: 3%;
  right: 1%;
}

  /* #listado-generos {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  #listado-generos img {
    width: 250px
  } */

/* footer {
  border: solid 1px black;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 0%;
} */
