/*css para todo el proyecto proyecto*/
* {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-wrap: wrap;
  /* border: solid 1px black; */
  justify-content: space-between;
  color: white;
  /* background-color: black; */
  padding: 0.5%;
  height: 105px;
  font-family: 'Montserrat', sans-serif;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0e0e0e+45,7d7e7d+97&1+62,0+100 */
  background: -moz-linear-gradient(top,  rgba(14,14,14,1) 45%, rgba(50,51,50,1) 62%, rgba(125,126,125,0.08) 97%, rgba(125,126,125,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(14,14,14,1) 45%,rgba(50,51,50,1) 62%,rgba(125,126,125,0.08) 97%,rgba(125,126,125,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(14,14,14,1) 45%,rgba(50,51,50,1) 62%,rgba(125,126,125,0.08) 97%,rgba(125,126,125,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#007d7e7d',GradientType=0 ); /* IE6-9 */



}
body{
  background-image:url("../img1.jpg");
  background-size:contain;

  height: 360px;


}

.h2nav {
  margin: 1%;
  color: white;
}

.ulnav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  margin: 1%;
}

nav li {
  padding: inherit;
}

.search {

  align-content: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-size: 40%;
}

li a {
  text-decoration: none;
  color: white;
}

.divsearch {
  border: solid 1px black;
}

.formsearch {
  padding-top: 2%;
  justify-content: space-around;
}

.input {
  width: 85%;
  font-size: 100%;

}

.cartelera {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	border: solid 2px red;
  width: 96%;
  background-color:red;

}

.img-caja {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
	border: solid 1px green;

}

.img-caja img {
	width: 15%;
  float: left;
  padding: 0.4%;
  no puedo centrar las peliculas

}

.gif-detail {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	width: 960px;
	border: solid 1px green;
	margin: auto;
} //

#peliculas {
  border: solid 1px black;
  padding: 1%;
  margin-top: 1%;
}

footer {
  border: solid 1px black;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 0%;
}
