/*css para todo el proyecto proyecto*/
* {
  box-sizing: border-box;
}

nav {
   padding-left: 1%;
   padding-top: 1%;
   justify-content: space-between;
 }

  nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    color: black;
    width: 370px;


  }

  nav li a {
    text-decoration: none;
    color: black;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo {
    width: 33%;
  }

  .lupa {
    height: 30px;
  }

  .banner {
    position: relative;
    margin-bottom: 1%;
  }

   .banner ul {
    height: 10%;
  }

  .frase {
    position: absolute;
    bottom: 4%;
    left: 2%;
    z-index: 10;
    color: white;
    font-family: 'Quicksand', sans-serif;
  }

  .tema {
    padding: 1%;
  }

.pelis {
    padding: 1%;
}
.cartelera {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	border: solid 2px red;
  width: 96%;
  background-color:red;

}

.img-caja {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
	border: solid 1px green;

}

.img-caja img {
	width: 15%;
  float: left;
  padding: 0.4%;
  no puedo centrar las peliculas

}

.gif-detail {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	width: 960px;
	border: solid 1px green;
	margin: auto;
} //

#peliculas {
  border: solid 1px black;
  padding: 1%;
  margin-top: 1%;
}

.Piedepagina{
  display: flex;
  flex-direction: row;
  border-top: 1px solid gainsboro;
text-align: center;
height: 200px;
background-color: white;

.logoTmdb{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.logoTmdb img{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 60px;
  width: 150px;
  position: relative;
  left: 850px;
  top: 31px;

/* footer {
  border: solid 1px black;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 0%;
} */
